
<div class="container child">

  <form
    [formGroup]="bookingForm"
    (ngSubmit)="onSubmit()"
    *ngIf="bookingForm">

    <section>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>Your name</mat-label>
        <input matInput [formControl]="bookerName">
      </mat-form-field>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>Your ID card</mat-label>
        <input matInput [formControl]="idCard" matTooltip="We need your ID card for the budget and/or the invoice">
      </mat-form-field>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>An email address to contact you</mat-label>
        <input matInput [formControl]="bookerEMail" matTooltip="We'll use this mail to conact you">
        <mat-error *ngIf="bookerEMail.hasError('email') && !bookerEMail.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>Please, select the resource to book</mat-label>
        <mat-select [formControl]="resourceToBook" #theResource (change)='resourceSelected(theResource.value)'>
          <mat-option value="white#room">Sala BLANCA</mat-option>
          <mat-option value="yellow#room">Sala GROGA</mat-option>
          <mat-option value="red#room">Sala VERMELLA</mat-option>
          <mat-option value="blue#room">Sala BLAVA</mat-option>
          <mat-option value="A#pavillion">Pavellón A</mat-option>
          <mat-option value="B#pavillion">Pavellón B</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>From date</mat-label>
        <input matInput [matDatepicker]="pickerFromDate"                      [formControl]="fromDate"
                                                                              [min]="minDate"
                                                                              [matDatepickerFilter]="weekEndFilter">
        <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate [startAt]="minDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" [style.width.px]=327>
        <mat-label>To date</mat-label>
        <input matInput [matDatepicker]="pickerToDate"                        [formControl]="toDate"
                                                                              [min]="minDateTo"
                                                                              [matDatepickerFilter]="weekEndFilter">
        <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate [startAt]="minDateTo"></mat-datepicker>
      </mat-form-field>
    </section>

    <section class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookingForm.valid" matTooltip="Send us your booking proposal">Send</button>
    </section>
    <!-- ***{{bookingForm.value | json}}***  -->
  </form>

    <mwl-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate"></mwl-utils-calendar-header>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>

      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>

      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>

</div>

